
+block_list('blocks', [
  {
    mod: 'border_bottom_mod',
    icon: 'bell',
    title: 'Announcements',
    items: [
      { label: 'Upcoming Changes (Live Chat, Less Censorship, More Access)' },
      { label: 'New Servers (US Washington DC)' },
      { label: 'New Servers (US Denver)' },
      { label: 'Open Source: Releasing the PIA iOS Client' },
      { label: 'Opera Extension is now available' }
    ],
  },
  {
    mod: 'border_bottom_mod',
    icon: 'rss',
    title: 'Popular posts',
    items: [
      { label: 'The Gift of Privacy', src: 'http://gootle.com' },
      { label: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture' },
      { label: 'About the PIA Client Security and VPN Security in General' },
      { label: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech' },
      { label: 'Wiretapping Today Just Doesn\'t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie' }
    ],
  },
  {
    mod: null,
    icon: null,
    title: null,
    items: null,
    img: { name: 'blog-1', src: 'http://alextheme.github.io' },
    linksList: null,
  },
  {
    mod: 'tag_cloud_mod',
    icon: null,
    title: 'Tag cloud',
    items: null,
    img: null,
    linksList: {
      gl_class: 'links_list',
      base_url: 'http://site.fi?s=',
      items: [
				{ style: 2, word: 'mass surveillance internet privacy' },
				{ style: 4, word: 'china' },
				{ style: 1, word: 'whatsapp police dna' },
				{ style: 3, word: 'nsa' },
				{ style: 2, word: 'russia' },
				{ style: 0, word: 'gchq' },
				{ style: 1, word: 'internet censorship facial recognition' },
				{ style: 2, word: 'isp' },
				{ style: 0, word: 'Apple' },
				{ style: 2, word: 'united kingdom' },
				{ style: 0, word: 'amazon metadata turkey' },
				{ style: 3, word: 'vpn' },
				{ style: 0, word: 'tracking broadband privacy' },
				{ style: 1, word: 'canada' },
				{ style: 2, word: 'encryption' },
				{ style: 0, word: 'Twitter uk' },
				{ style: 4, word: 'surveillance' },
				{ style: 3, word: 'EU Facebook' },
				{ style: 2, word: 'india' },
				{ style: 0, word: 'freedom of expression' },
				{ style: 2, word: 'ajit pai bitcoin' },
				{ style: 0, word: 'internet history gdpr microsoft' },
				{ style: 5, word: 'fcc' },
				{ style: 1, word: 'censorship' },
				{ style: 0, word: 'germany file sharing' },
				{ style: 5, word: 'privacy' },
				{ style: 1, word: 'copyright' },
				{ style: 0, word: 'anonimity internet of things' },
				{ style: 3, word: 'google' },
				{ style: 1, word: 'australia net neutrality' },
			]
    }
  }
])
