
+block_list('blocks', [
  {
    icon: 'bell',
    title: 'Announcements',
    items: [
      { label: 'Upcoming Changes (Live Chat, Less Censorship, More Access)' },
      { label: 'New Servers (US Washington DC)' },
      { label: 'New Servers (US Denver)' },
      { label: 'Open Source: Releasing the PIA iOS Client' },
      { label: 'Opera Extension is now available' }
    ],
  },
  {
    icon: 'rss',
    title: 'Popular posts',
    items: [
      { label: 'The Gift of Privacy', src: 'http://gootle.com' },
      { label: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture' },
      { label: 'About the PIA Client Security and VPN Security in General' },
      { label: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech' },
      { label: 'Wiretapping Today Just Doesn\'t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie' }
    ],
  }
])



+block_with_img_list('blocks', [
  {
    img: './images/blog-1.jpg',
    src: 'http://alextheme.github.io'
  }, 
  {
    title: 'Tag cloud',
    img: './images/blog-2.jpg'
  }
])