.sidebar__blocks
  +links_order('first_list', 
    {
      icon: 'bell',
      title: 'Announcements',
      items: [
        { label: 'Upcoming Changes (Live Chat, Less Censorship, More Access)' },
        { label: 'New Servers (US Washington DC)' },
        { label: 'New Servers (US Denver)' },
        { label: 'Open Source: Releasing the PIA iOS Client' },
        { label: 'Opera Extension is now available' }
      ],
    }
  )

  +links_order('second_list',
    {
      icon: 'rss',
      title: 'Popular posts',
      items: [
        { label: 'The Gift of Privacy', src: 'http://gootle.com' },
        { label: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture' },
        { label: 'About the PIA Client Security and VPN Security in General' },
        { label: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech' },
        { label: 'Wiretapping Today Just Doesn\'t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie' }
      ],
    },
  )

  +link_image({ name: 'blog-1', src: 'https://www.google.com'})

  +links_heap(
    {
      title: 'Tag cloud',
      items: [
        { word: 'mass surveillance internet privacy' },
        { word: 'china' },
        { word: 'whatsapp police dna' },
        { word: 'nsa' },
        { word: 'russia' },
        { word: 'gchq' },
        { word: 'internet censorship facial recognition' },
        { word: 'isp' },
        { word: 'Apple' },
        { word: 'united kingdom' },
        { word: 'amazon metadata turkey' },
        { word: 'vpn' },
        { word: 'tracking broadband privacy' },
        { word: 'canada' },
        { word: 'encryption' },
        { word: 'Twitter uk' },
        { word: 'surveillance' },
        { word: 'EU Facebook' },
        { word: 'india' },
        { word: 'freedom of expression' },
        { word: 'ajit pai bitcoin' },
        { word: 'internet history gdpr microsoft' },
        { word: 'fcc' },
        { word: 'censorship' },
        { word: 'germany file sharing' },
        { word: 'privacy' },
        { word: 'copyright' },
        { word: 'anonimity internet of things' },
        { word: 'google' },
        { word: 'australia net neutrality' },
      ]
    }
  )