
+posts([
    {
      url: '#',
      img: 'post-1',
      title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
      author_name: 'Derek Zimmer',
      author_date: 'JUL 25, 2018',
      tags: 'Governments, Networking, Open Source, Privacy, Security',
      comments_count: 10,
      comments_icon: './images/icons/comment-icon.png',
    },
    {
      url: '#',
      img: 'post-2',
      title: 'How to get cheaper flights using a VPN',
      author_name: 'Jayson',
      author_date: 'JUL 24, 2018',
      tags: 'Guides',
      comments_count: 6,
      comments_icon: './images/icons/comment-icon.png',
    },
    {
      img: 'post-3',
      title: 'Net Neutrality was repealed, but the fight is far from over',
      author_name: 'Chris Miller',
      author_date: 'JUL 22, 2018',
      tags: 'Governments, Net Neutrality, News',
      comments_count: 21,
      comments_icon: './images/icons/comment-icon.png',
    },
    {
      url: '#',
      img: 'post-1',
      title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
      author_name: 'Derek Zimmer',
      author_date: 'JUL 25, 2018',
      tags: 'Governments, Networking, Open Source, Privacy, Security',
      comments_count: 10,
      comments_icon: './images/icons/comment-icon.png',
    },
    {
      url: '#',
      img: 'post-2',
      title: 'How to get cheaper flights using a VPN',
      author_name: 'Jayson',
      author_date: 'JUL 24, 2018',
      tags: 'Guides',
      comments_count: 6,
      comments_icon: './images/icons/comment-icon.png',
    },
    {
      img: 'post-3',
      title: 'Net Neutrality was repealed, but the fight is far from over',
      author_name: 'Chris Miller',
      author_date: 'JUL 22, 2018',
      tags: 'Governments, Net Neutrality, News',
      comments_count: 21,
      comments_icon: './images/icons/comment-icon.png',
    }
  ])
