mixin no_use(array)
	.no_use
//--------------------------------------------------------------global vars
- environment = htmlWebpackPlugin.options.environment;
- array = { title_inner: 'AlBorPro' };
- assetsImage = 'images/';

//--------------------------------------------------------------forms
