include mixins/_m_header
include mixins/_m_footer

include mixins/test_mixins/_m_test1
include mixins/test_mixins/_m_block_with_img_list
include mixins/test_mixins/_m_block_list
include mixins/test_mixins/_m_post