include mixins/_m_header
include mixins/_m_footer

include mixins/test1_mixins/_m_tag_list
include mixins/test1_mixins/_m_block_list
include mixins/test1_mixins/_m_post
include mixins/test1_mixins/_m_heap_diff_links