@mixin transition($prop: all, $duration: 300ms, $func: ease-in-out) {
	transition: $prop $duration $func;
}

svg {
  width: 100%;
  height: auto;
  background: lightblue;
}

.content {
  display: flex;
  width: 100%;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $color_title;
}

.posts__header {
  align-self: flex-start;
  margin: 4px 0 12px 0;
  font-size: 32px;
  font-weight: 300;
}

.posts__item {
  display: flex;
  align-self: flex-start;
  min-height: 240px;
  margin: 0 60px 0 0;
  padding: 30px 0;
  border-bottom: 1px solid $color-border;
}


.posts__img-box {
  position: relative;
  z-index: 1;
  min-width: 280px;
  width: 280px;
  height: 180px;
  background-color: $color_lightgray;
  margin: 0 20px 0 0;
  cursor: pointer;
  @include transition();

  &::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    content: 'no image';
    font-size: 20px;
    white-space: nowrap;
    color: $color_grey;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: .8;
    @include transition();
  }
}

.posts__description {
  width: 100%;
}

.posts__title {
  margin: 0 0 18px 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: inherit;
}

.posts__athror {
  margin: 0 0 12px 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $color_text;
}

.posts__athror-date {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 0 20px;
  color: $color_grey;

  &::before {
    content: '|';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10px, -3px);
  }
}

.posts__tags {
  margin: 0 0 18px 0;
  font-size: 12px;
  font-weight: 400;
  color: $color_accent;
  text-transform: uppercase;
}

.posts__comments {
  display: flex;
  align-items: center;
  color: $color_grey;
}

.posts__count-comments {
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: $color_grey;
}

.posts__icon-conmments img {
  width: 12px;
  height: 12px;
}

.older-posts {
  width: 260px;
  height: 40px;
  margin: 40px 0;
  font-size: 14px;
  font-weight: 500;
  color: $color_accent;
  border: 1px solid $color_accent;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  @include transition();
  
  &:hover {
    background-color: $color_accent;
    color: #fff;
    @include transition();
  }
}


// SIDEBAR
.sidebar {
  position: relative;
  width: 50%;
  min-width: 400px;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 98%;
    background-color: $color-border;
  }
}

.sidebar__wrap {
  width: 340px;
  margin: 0 0 0 auto;
}

.sidebar__search-form {
  position: relative;
  
  .search-form__label {
    align-self: flex-end;
    margin: 0 0 32px 0;
  }

  .search-form__input {
    width: 340px;
    height: 60px;
    border: 1px solid $color-input-border;
    border-radius: 4px;
    color: $color_title;
    font-size: 18px;
    font-weight: 300;
    padding: 0 0 0 60px;
    @include transition();

    &:focus {
      outline: none;
      border: 1px solid $color_accent;
      @include transition();
    }
  }

  .search-form_box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(20px, -48%);
    width: 20px;
    height: 20px;
  }
}

.sidebar__blog-item {
  margin: 36px 0 0 0;
  border-bottom: 1px solid $color-border;
}

.blog-item__title-box {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;

  .blog-item__title-icon_box {
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
  }
  .blog-item__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
  }
}

.blog-item__list {

}

.blog-item__item {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 20px 11px;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background: #4CB649;
    top: 50%;
    left: 0;
    transform: translate(-11px, -50%);
  }

  &:last-child {
    margin: 0 0 38px 11px;
  }
}

.sidebar__blog_img_list li {
  margin: 32px 0 54px 0;
}

.sidebar__blog_img_title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  margin: 0 0 16px;
}

.sidebar__blog_img_item {
  width: 340px;
  height: 454px;

  @include transition();

  &:hover {
    opacity: .7;
    @include transition();
  }
}

//- response
@media screen and (max-width: $point_2) { // 1024
  .content {
    position: relative;
    padding: 60px 0 0 0;
  }
	.sidebar {
    position: unset;
    padding: 0;
    margin: 0 auto;
    width: 100%;

    &::before {
      display: none;
    }
	}
  .sidebar__wrap {
    margin: 0;
    width: 100%;
  }
  .sidebar__blog-list, .sidebar__blog_img_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
  }
  .sidebar__search-form {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -10px);
  }
  .sidebar__blog_img_item {
    max-width: 340px;
    width: unset;
    height: auto;
  }
  .sidebar__blog-item {
    margin: 36px 0 0 0;
    border-bottom: none;
  }
  .sidebar__blog-list {
    padding: 40px 0 0 0;
    border-top: 1px solid #EBECED;
    border-bottom: 1px solid #EBECED;
  }
}

@media screen and (max-width: $point_5) { // 640
  .posts__item {
    flex-direction: column;
  }
  .posts__img-box {
    min-width: unset;
    width: unset;
    height: auto;
    margin: 0 0 20px 0;
  }
  .sidebar__blog-list {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .sidebar__blog_img_list {
    display: block;
    margin: 0 auto;
    width: 90%;

    li {
      display: flex;
      justify-content: center;
    }
  }
  .sidebar {
    min-width: 100%;
  }
}

@media screen and (max-width: $point_7) { // 375
  .sidebar__search-form, .search-form__input {
    max-width: 270px;
  }
  .older-posts {
    width: auto;
    padding: 0 40px;
  }
}


