.block__item {
  margin: 36px 0 0 0;
  border-bottom: none;
}

.block__title_box {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;

  .block__icon_box {
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
  }
  .block__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
  }
}

.block__sub_item {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 20px 11px;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background: #4CB649;
    top: 50%;
    left: 0;
    transform: translate(-11px, -50%);
  }

  &:last-child {
    margin: 0 0 38px 11px;
  }
}

// .sidebar__search-form {
//   position: absolute;
//   top: 0;
//   right: 50%;
//   transform: translate(50%, -10px);
// }

.sidebar__blog_img_item {
  max-width: 340px;
  width: unset;
  height: auto;
}
.sidebar__blog-list {
  padding: 40px 0 0 0;
  border-top: 1px solid #EBECED;
  border-bottom: 1px solid #EBECED;
}