@mixin transition($prop: all, $duration: 300ms, $func: ease-in-out) {
	transition: $prop $duration $func;
}

svg {
  width: 100%;
  height: auto;
  background: lightblue;
}

.content {
  display: flex;
  width: 100%;
}

.posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $color_title;
}

.posts__header {
  align-self: flex-start;
  margin: 4px 0 12px 0;
  font-size: 32px;
  font-weight: 300;
}

.older_posts {
  width: 260px;
  height: 40px;
  margin: 40px 0;
  font-size: 14px;
  font-weight: 500;
  color: $color_accent;
  border: 1px solid $color_accent;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  @include transition();
  
  &:hover {
    background-color: $color_accent;
    color: #fff;
    @include transition();
  }
}


// SIDEBAR
.sidebar {
  position: relative;
  width: 50%;
  min-width: 400px;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 98%;
    background-color: $color-border;
  }
}

.sidebar__wrap {
  width: 340px;
  margin: 0 0 0 auto;
}


//- response
@media screen and (max-width: $point_2) { // 1024
  .content {
    position: relative;
    padding: 60px 0 0 0;
  }
	.sidebar {
    position: unset;
    padding: 0;
    margin: 0 auto;
    width: 100%;

    &::before {
      display: none;
    }
	}
  .sidebar__wrap {
    margin: 0;
    width: 100%;
  }
  .block__list, .block_img__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
  }
  .sidebar__blog_img_item {
    max-width: 340px;
    width: unset;
    height: auto;
  }
  .sidebar__blog-item {
    margin: 36px 0 0 0;
    border-bottom: none;
  }
  .sidebar__blog-list {
    padding: 40px 0 0 0;
    border-top: 1px solid #EBECED;
    border-bottom: 1px solid #EBECED;
  }
}

@media screen and (max-width: $point_5) { // 640
  .posts__item {
    flex-direction: column;
  }
  .posts__img-box {
    min-width: unset;
    width: unset;
    height: auto;
    margin: 0 0 20px 0;
  }
  .sidebar__blog-list {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .sidebar__blog_img_list {
    display: block;
    margin: 0 auto;
    width: 90%;

    li {
      display: flex;
      justify-content: center;
    }
  }
  .sidebar {
    min-width: 100%;
  }
}

@media screen and (max-width: $point_7) { // 375
  .sidebar__search-form, .search-form__input {
    max-width: 270px;
  }
  .older-posts {
    width: auto;
    padding: 0 40px;
  }
}


