extends ../layout/_layout

block vars
	- array = {body_class:'task-test-1', layout_mod:'', sub_keywords:'', title_inner:'test_1'}

block content_block
	.page_wrap
		include ../blocks/nav_block
		
		.content 
			include ../blocks/posts_block
			include ../blocks/sidebar_block	
