extends ../layout/_layout

block vars
	- array = {body_class:'task-test-1', layout_mod:'', sub_keywords:'', title_inner:'test_1'}
	- icon = "../../images/icons/other_icons/comment.svg"

block content_block
	.page_wrap
		nav.top_nav
			include ../blocks/nav_block
		
		.content 
			main.content__posts 
				h1.posts__header Recent posts
				include ../blocks/posts_block

				button.older_posts(type= 'button') older posts

			aside.content__sidebar
				include ../blocks/universal/search_form_block

				.sidebar__blocks
					include ../blocks/aside_block					

