extends ../layout/_layout

block vars
	- array = {body_class:'task-test-2', layout_mod:'', sub_keywords:'', title_inner:'test_2'}
	- icon = "../../images/icons/other_icons/comment.svg"

block content_block
	.page_wrap
		nav.top_nav
			include ../blocks/nav_block

		.content HELLO!

