a {
	@extend %transition_opacity;

	&:hover,
	&:focus {
		text-decoration: none;
		opacity: .5;
		@extend %transition_opacity;
	}
}

.page_wrap {
	position: relative;
	max-width: 98%;
	width: $page_width;
	margin: 0 auto;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
}

img {
	width: 100%;
	height: auto;
}

.content {
	@extend %global_flex_block_row_wrap_flex-start;
	width: 100%;
	margin-top: 4rem;
}


.content__posts {
	position: relative;
	@extend %global_flex_block_column_wrap_flex-start_center;
	width: calc(100% - $sidebar_width - 11rem);
	margin-right: 11rem;
	color: $color_title;

	&::before {
		position: absolute;
		width: 1px;
		height: 100%;
		top: 0;
		right: 0;
		content: '';
		background: $color-border;
		transform: translate(5rem);
	}
}

.older_posts {
	width: 26rem;
	
	margin-top: 4rem;
	
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 4rem;
	white-space: nowrap;
	
	color: $color_accent;
	border: 1px solid $color_accent;
	background-color: $white;
	border-radius: 5rem;
	cursor: pointer;
	
	
	&:hover {
		background-color: $color_accent;
		color: $white;
		@extend %transition_color_background;
	}
	
	@extend %transition_color_background;

	@include bp($point_7) {
		width: auto;
		padding: 0 4rem;
	}
}

//- response
@include bp($point_2) {
	.content {
		display: inline-block;
	}

	.content__posts {
		width: 100%;

		padding-bottom: 4rem;
		margin: 10rem 0 5rem 0;
		
		border-bottom: 1px solid $color-border;
	}
}

@include bp($point_5) {
	.sidebar {
		width: 100%;
	}

	.block__list {
		display: block;
	}

	.block__item {
		max-width: 80%;
		margin: 0 auto;
	}
}

