$nav_height: 6rem;

@mixin transition($prop: all, $duration: 300ms, $func: ease-in-out) {
	transition: $prop $duration $func;
}

a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: inherit;
	cursor: pointer;
}

.top_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $nav_height;
	text-transform: uppercase;
	background-color: $nav_bg;
	color: $color_title;
	border-radius: $gl_radius;
	padding: 0 1.4rem;
	margin: 0 0 4rem 0;
	overflow: hidden;
}

.top_nav__tag_list {
	display: flex;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
  max-width: 81%;
	height: 6rem;

	&:hover {
		overflow-x: auto;

		&::-webkit-scrollbar {
			height: 8px;             
		}
		
		&::-webkit-scrollbar-track {
			background: rgba(238, 238, 238, 0.637); 
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: rgba(155, 155, 155, 0.144);
			border-radius: 2rem;
			border: none; 
		}
	}
}

//- tags
.top_nav__tag_label  {
	height: $nav_height;
	line-height: $nav_height;
	padding: 0 1.8rem;

	&--active {
		font-weight: 700;
	}
}

.top_nav__tag_item  {
	line-height: $nav_height;
}

.top_nav__tag-link {
	padding: 0 1.8rem;
	color: $color_accent;
	@include transition(background-color);

	&--active {
		font-weight: 700;
		background-color: $nav_bg_hover;
		cursor: default;
	}

	&:hover {
		text-decoration: none;
		background-color: $nav_bg_hover;
		@include transition(background-color);
	}
}
//- tags###




//- menu
.top_nav__list  {
	display: flex;
}

.top_nav__item {
	line-height: $nav_height;

	.top_nav__link {
		cursor: pointer;
	}

	&--active_mod .top_nav__link {
		font-weight: 700;
		cursor: default;
		background-color: $nav_bg_hover;
	}
}

.top_nav__link {
	padding: 0 1.8rem;

	&:hover {
		text-decoration: none;
		background-color: $nav_bg_hover;
		@include transition(background-color);
	}
}
//- menu###

//- respons
@media screen and (max-width: $point_2) { // 1024
	.content {
		flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
	}

	.posts__list .posts__item {
		margin: 0;
	}

	.sidebar {
		position: unset;
	}
	.top_nav {
		flex-direction: column-reverse;
		height: 12rem;
		margin: 0 0 14rem 0;
	}
}
@media screen and (max-width: $point_4) { // 768
	.content {
    max-width: 98%;
	}
}
@media screen and (max-width: $point_4) { // 640
	.top_nav {
		flex-direction: column-reverse;
		height: 12rem;
		margin: 0 0 14rem 0;
	}
}

