a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: inherit;
	cursor: pointer;
}

.top_nav {
	@extend %global_flex_block_row_wrap_space_between_center;
	width: 100%;
	height: $nav_height;
	text-transform: uppercase;
	background-color: $nav_bg;
	color: $color_title;
	border-radius: $gl_radius;
	padding: 0 1.4rem;
	overflow: hidden;

	@include bp($point_2) {
		flex-direction: column-reverse;
		height: 12rem;
	}
}

.top_nav__tag_list {
	@extend %global_flex_block_row_nowrap_flex-start;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
  max-width: 81%;
	height: 6rem;
	overflow-x: auto;

	&::-webkit-scrollbar {
		height: 8px;             
	}
	
	&::-webkit-scrollbar-track {
		background: rgba(238, 238, 238, 0.637); 
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: rgba(155, 155, 155, 0.144);
		border-radius: 2rem;
		border: none; 
	}
}

//- tags
.top_nav__tag_label  {
	height: $nav_height;
	line-height: $nav_height;
	padding: 0 1.8rem;

	&.top_nav__tag_label--active {
		font-weight: 700;
	}
}

.top_nav__tag_item  {
	line-height: $nav_height;
}

.top_nav__tag_link {
	padding: 0 1.8rem;
	color: $color_accent;
	@extend %transition_background;

	&--active {
		font-weight: 700;
		background-color: $nav_bg_hover;
		cursor: default;
	}

	&:hover {
		text-decoration: none;
		background-color: $nav_bg_hover;
		@extend %transition_background;
	}
}
//- tags###


//- menu
.top_nav__list  {
	@extend %global_flex_block_row_nowrap_flex-start;
}

.top_nav__item {
	line-height: $nav_height;

	&.top_nav__item--active_mod .top_nav__link {
		font-weight: 700;
		cursor: default;
		background-color: $nav_bg_hover;
	}
}

.top_nav__link {
	padding: 0 1.8rem;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		background-color: $nav_bg_hover;
		@extend %transition_background;
	}
}
//- menu###