.post__item {
  display: flex;
  align-self: flex-start;
  min-height: 24rem;
  margin: 0 6rem 0 0;
  padding: 3rem 0;
  border-bottom: 1px solid $color-border;

  @media screen and (max-width: $point_5) { // 640
    flex-direction: column;
    margin: 0;

    .post__description {
      margin: 2rem 0 0 0;
    }
  }
}

.post__img_box {
  position: relative;
  z-index: 1;
  min-width: 28rem;
  width: 28rem;
  height: 18rem;
  background-color: $color_lightgray;
  margin: 0 4rem 0 0;
  cursor: pointer;
  @include transition();

  &::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    content: 'no image';
    font-size: 2rem;
    white-space: nowrap;
    color: $color_grey;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: .8;
    @include transition();
  }

  @media screen and (max-width: $point_5) {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.post__description {
  width: 100%;
}

.post__title {
  margin: 0 0 18px 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.4rem;
  color: inherit;
}

.post__athror {
  margin: 0 0 1.2rem 0;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: $color_text;
}

.post__athror_date {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 0 2rem;
  color: $color_grey;

  &::before {
    content: '|';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-1rem, -.3rem);
  }
}

.post__tags {
  margin: 0 0 1.8rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: $color_accent;
  text-transform: uppercase;
}

.post__comments {
  display: flex;
  align-items: center;
  color: $color_grey;

  .icon {
    width: 1.115rem;
    height: 1.061rem;
    fill: $color_grey;
    background: none;
  }
}

.post__count_comments {
  margin: 0 1rem 0 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color_grey;
}
