.posts__header {
  align-self: flex-start;
  font-size: 3.2rem;
  font-weight: 300;

  @include bp($point_2) {
    width: 80%;
    margin: 0 auto;
  }
}

.post__list {
  width: 100%;
  margin-top: 1.3rem;
}

.post__item { 
  @extend %global_flex_block_row_nowrap_flex-start;
  align-self: flex-start;
  min-height: 24rem;
  padding: 3rem 0;
  border-bottom: 1px solid $color-border;

  @include bp($point_2) {
    width: 80%;
    margin: 0 auto;
  }
  
  @include bp($point_5) {
    flex-direction: column;

    .post__description {
      width: 100%;
      margin-top: 2rem;
      padding: 0;
    }
  }
}

.post__img_box {
  width: $post_img_width;
  cursor: pointer;
  margin-right: 4rem;
  @extend %transition_opacity;

  &:hover {
    opacity: .8;
    @extend %transition_opacity;
  }

  @include bp($point_5) {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.post__description {
  width: calc(100% - $post_img_width);
}

.post__title_link {
  height: unset;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.4rem;
  margin-bottom: 18px;
  color: inherit;
}

.post__athror {
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: $color_text;
}

.post__athror_date {
  position: relative;
  text-transform: uppercase;
  margin-left: 2rem;
  color: $color_grey;

  &::before {
    content: '|';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-1rem, -.3rem);
  }
}

.post__tags {
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: $color_accent;
  text-transform: uppercase;
}

.post__list_tags {
  @extend %global_flex_block_row_wrap_flex-start;
  line-height: 1.6rem;
}

.post__item_tag {
  white-space: nowrap;

  a {
    margin: 0;
  }
  
  .comma {
    margin-right: .5rem;
  }

  &:last-child {
    .comma {
      display: none;
    }
  }
}

.post__comments {
  color: $color_grey;

  .icon_comment  {
    width: 1.115rem;
    height: 1.061rem;
    fill: $color_grey;
    background: none;
  }
}

.post__count_comments {
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color_grey;
}
