.search_form {
  position: relative;
  width: 34rem;

  .search_form__input {
    width: 100%;
    height: 6rem;
    font-size: 1.8rem;
    font-weight: 300;
    border: 1px solid $color-input-border;
    border-radius: $gl_radius;
    color: $color_title;
    padding: 0 0 0 6rem;
    @extend %transition_all;

    &:focus {
      outline: none;
      border: 1px solid $color_accent;
      @extend %transition_all;
    }
  }

  .icon.icon_search  {
    position: absolute;
    top: 50%;
    left: 0;
    width: 2rem;
    height: 2rem;
    fill: $color_title;
    background: none;
    transform: translate(2rem, -48%);
  }

  @include bp($point_2) {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 14rem);
  }
  @include bp($point_7) {
    width: 100%;
  }
}


