.block__item {
  margin: 3.6rem 0 0 0;
  border-bottom: none;

  @media screen and (max-width: $point_5) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.block__title_box {
  display: flex;
  align-items: center;
  margin: 0 0 2rem 0;
  overflow: hidden;

  .block__icon_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    margin: 0 2rem 0 0;
    overflow: hidden;

    .icon {
      width: 4rem;
      height: 4rem;
      background: none;
      fill: $color_accent;
    }
  }
  .block__title {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: 300;
  }
}

.block__sub_item {
  position: relative;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin: 0 0 2rem 1.1rem;

  &::before {
    content: "";
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    position: absolute;
    background: #4CB649;
    top: 50%;
    left: 0;
    transform: translate(-1.2rem, -50%);
  }

  &:last-child {
    margin: 0 0 3.8rem 1.2rem;
  }
}

// block with img contain
.block_img__item {
  li {
    margin: 3.2rem 0 5.4rem 0;
  }

  @media screen and (max-width: $point_5) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.block_img__title_link {
  display: block;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 300;
  margin: 0 0 1.6rem;
}

.block_img__image_link {
  width: 100%;
  @include transition();
  
  &:hover {
    opacity: .7;
    @include transition();
  }
}
