.content__sidebar {
  width: $sidebar_width;
  
  @include bp($point_2) {
    width: 100%;
  }
}

.sidebar__blocks {
  margin: 3.2rem 0 0 0;

  .blocks {

    .block {
      padding: 0 0 3.8rem 0;
      margin: 6rem auto 0 auto;

      &.block__item--border_bottom_mod {
        border-bottom: 1px solid $color-border;
      }

      &.block__item--tag_cloud_mod {
        margin: 2rem auto 0 auto;
      }

      &:first-child {
        margin: 2rem auto 0 auto;
      }

      @include bp($point_2) {
        width: 80%;
      }      
    }
  }
}