.content__sidebar {
  width: $sidebar_width;
  
  @include bp($point_2) {
    width: 100%;
  }
}

.sidebar__blocks {
  margin-top: 3.2rem;

  .blocks {

    .block {
      padding-bottom: 3.8rem;
      margin: 6rem auto 0 auto;

      &.block__item--border_bottom_mod {
        border-bottom: 1px solid $color-border;
      }

      &.block__item--tag_cloud_mod {
        margin-top: 2rem;
      }

      &:first-child {
        margin-top: 2rem;
      }

      @include bp($point_2) {
        width: 80%;
      }      
    }
  }
}