.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bell {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-check {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-comment {
	font-size:(10.611/10)*1rem;
	width:(11.152/10.611)*1em;
}
.icon-empty {
	font-size:(45.44/10)*1rem;
	width:(45.44/45.44)*1em;
}
.icon-rss {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
